html{
    font-family: sans-serif;
    text-align: center;
}

h2 {
    text-align: left;
}

/* tabel sectie puur html */
td{
    padding: 10px 5px;
    border: 1px solid black;
}

/* tabel sectie grid */

.grid-container {
    display: grid;
    grid-template-columns: 54px 54px 54px 54px;
    grid-gap: 2px;
    margin-left: 2px;
}

.grid-container div{
    padding: 10px 5px;
    border: 1px solid black;
}